# -- Do not put platform specific rules here (e.g. IDE config, OS meta files)

# Common
*.log

# Node

## Dependencies
node_modules
package-lock.json

## Storybook
/storybook-static

## Packed tarball
packages/*/*.tgz

# Project specific
/esm
/cjs
